body{
    background-color: #80D8FF;
    text-align: center;
}

p, a, h3, h4, h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hf{
    background-color: #B3E5FC;
    border-radius: 15px;
    padding: 0 5% 0 5%;
    clear: right;
}

img{
    width: 720px;
}

.content{
    display: flex;
}

.welcome{
    width: fit-content;
    max-width: 100%;
}

.p1-1{
    width: 20%;
}

.p1-1d{
    display: block;
}

.caution{
    clear: right;
}

.box{
    background-color: #40C4FF;
    border-radius: 15px;
    margin: 15px;
}

.box1{
    width: 320px;
    flex-direction: row;
}