@font-face {
    font-family: ProductSans;
    src: url(../ProductSans-Regular.ttf);
}

@font-face {
    font-family: ProductSansBold;
    src: url(../ProductSans-Bold.ttf);
}

body{
    background-color: #80D8FF;
    text-align: center;
}

p, a, h3, h4, h2{
    font-family: ProductSans;
}

.hf{
    background-color: #B3E5FC;
    border-radius: 15px;
    padding: 0 5% 0 5%;
    clear: right;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    max-width: 1152px;
}

.welcome{
    width: fit-content;
    max-width: 100%;
}

.p1-1{
    width: 72%;
}

.p1-1d{
    display: block;
}

.caution{
    clear: right;
}

.box0{
    background-color: #40C4FF;
    width: 720px;
    height: 768px;
    border-radius: 15px;
    margin: 15px;
}

.box1{
    width: 320px;
    height: 320px;
    flex-direction: row;
    justify-content: center;
}

.hoshi_menu{
    width: 32px
}

.box2{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 320px;
    justify-content: space-around;
    background-color: #40C4FF;
    border-radius: 15px;
    margin: 15px;
    padding: 24px 0 24px 0;
}

.box3{
    display: flex;
    flex-direction: row;
    font-size: 32px;
    padding-left: 24px;
    font-family: ProductSansBold;
}

.text{
    text-align: left;
    margin: 24px 24px 24px 24px;
}
.a_menu{
    color: #00B0FF;
}

.textbox{
    align-items: flex-start;
}